@import url(reset.css);

:root {
  --darkColor: #515151;
  --lightColor: #fff;
  --lightGreen: #1abc9c;
  --darkGreen: #16a085;
  --lightBlue: #3498db;
  --darkBlue: #2980b9;
  --lightRed: #fc5c65;
  --darkRed: #eb3b5a;
  --taskManagerColor: #e0edfa;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* section: task-manager */

.task-manager__title {
  font-size: 2rem;
}

#task-manager {
  display: flex;
  flex-direction: column;
  width: 555px;
  height: 353px;
  background-color: #e0edfa;
  border: 1px solid #000;
  border-radius: 9px;
}

.add-title {
  display: flex;
  margin: 25px;
}

.add-tasks {
  margin: 25px;
}

.task-container {
  display: flex;
  width: 100%;
  background-color: #fff;
  margin: 5px;
  border-radius: 5px;
}

.input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 22px;
  font-size: 18px;
  width: 100%;
  margin: auto;
}

.input:focus {
  outline: none;
}

.add-btn {
  background-color: #6fda9a;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  margin: 8px;
}

.edit-btn {
  background: #6fc0da;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 16px;
  font-size: 14px;
  margin: 8px;
  text-align: center;
}

.delete-btn {
  background: #da6fa2;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 16px;
  font-size: 14px;
  margin: 8px 20px 8px 0px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  filter: brightness(110%);
  cursor: pointer;
}

/* end of section: task-manager */
