@import url(reset.css);

:root {
  --darkColor: #515151;
  --lightColor: #fff;
  --lightGreen: #1abc9c;
  --darkGreen: #16a085;
  --lightBlue: #3498db;
  --darkBlue: #2980b9;
  --lightRed: #fc5c65;
  --darkRed: #eb3b5a;
  --lightGray: #ccc;
  --taskManagerColor: #e0edfa;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* section: task-manager */

#task-manager {
  display: flex;
  flex-direction: column;
  background-color: var(--taskManagerColor);
  border: 1px solid var(--lightGray);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
}

.form-group {
  display: flex;
  padding: 0.2rem;
  margin: 0.3rem;
}

.form-group input {
  border: 1px solid var(--lightGray);
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.form-group button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
}


/* end of section: task-manager */
